body,
html {
  font-family: Oxygen;
  color: white;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 940px;
  margin: 0 auto;
}
