body,
html {
  font-family: Oxygen;
  font-weight: 100;
  color: white;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

p {
  font-size: 18px;
  margin: 10px 0;
  padding: 0;
}

/*CLEARFIX*/

.footer:after {
  content: "";
  clear: both;
  display: block;
}

/*HEADINGS*/

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  color: #0093FF;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: white;
}

h3,
h4 {
  font-size: 32px;
}

h5 {
  font-size: 18px;
  color: white;
  text-align: left;
  margin: 20px 0 8px;
  padding: 0;
}

/*BANNER*/

.banner {
  height: 380px;
  padding: 155px 0;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg") no-repeat center;
  background-size: cover;
}

/*FOOTER*/

.footer {
  padding: 60px 0;
}

.footer .column {
  width: 25%;
  float: left;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.footer ul li a {
  font-size: 14px;
  color: #0093FF;
  text-decoration: none;
}

.footer ul li a:hover {
  color: white;
}
