body,
html {
  font-family: Oxygen;
  font-weight: 100;
  color: white;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .25s ease;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: inherit;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 15px;
}

p {
  font-size: 18px;
  margin: 10px 0;
  padding: 0;
}

/*CLEARFIX*/

.footer:after {
  content: "";
  clear: both;
  display: block;
}

/*HEADINGS*/

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  color: #0093FF;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 55px;
  color: white;
  margin-bottom: 48px;

}

h2 {
  color: white;
}

h3,
h4 {
  font-size: 32px;
}

h5 {
  font-size: 18px;
  color: white;
  text-align: left;
  margin: 20px 0 8px;
  padding: 0;
}

/*HEADER*/

.header {
  padding: 50px 0 30px;
}

.header img {
  width: 175px;
  float: left;
  padding: 0;
  margin: -5px 0 0 12px;
}

.header ul {
  list-style: none;
  float: right;
  margin: 0 3px 0 0;
  padding: 0;
}

.header ul li {
  display: inline;
}

.header ul li a {
  font-size: 15px;
  font-weight: 400;
  color: #0093FF;
  text-decoration: none;
  margin: 0 12px;
  padding: 3px 4px;
  border-bottom: 1px solid black;
}

.header ul li:nth-child(2) a {
  color: white;
}

.header ul li a:hover {
  border-bottom: 1px solid;
}

/*JUMBOTRON*/

.jumbotron {
  margin: 0;
  padding: 100px 0;
}

.jumbotron a,
.jumbotron button {
  font-size: 14px;
  display: inline-block;
  color: #0093FF;
  background-color: black;
  outline: 1px solid #0093FF;
  text-decoration: none;
  padding: 9px 20px;
  border: none;
}

.jumbotron a:hover,
.jumbotron button:hover {
  color: white;
  background-color: #0093FF;
}

.jumbotron input {
  font-size: 18px;
  font-weight: 300;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin: 60px 20px 0;
  padding: 7px 12px;
  width: 400px;
}

.jumbotron input:hover,
.jumbotron input:focus {
  border-color: #0093FF;
}

.jumbotron input::-webkit-input-placeholder {
  color: #777777;
}

.jumbotron input::-moz-placeholder {
  color: #777777;
}

/*GALLERY*/

.gallery {
  padding: 100px 0;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png");
  background-size: 141px 142px;
}

.gallery p {
  margin-bottom: 40px;
}

.gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery ul li {
  display: inline;
}

.gallery ul li a {
  display: inline-block;
  font-size: 0;
  color: white;
  text-decoration: none;
  background-color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
  width: 293px;
  height: 322px;
  margin: 12px 8px;
  padding: 0;
}

.gallery ul li a:hover{
  box-shadow: inset 0 0 0 15px #0093FF;
}

.gallery ul li:nth-child(1) a,
.gallery ul li:nth-child(7) a {
  width: 606px;
}

.gallery ul li:nth-child(1) a {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-avengers.jpg");
}

.gallery ul li:nth-child(2) a {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/harry-potter.jpg");
}

.gallery ul li:nth-child(3) a {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/frozen.jpg");
}

.gallery ul li:nth-child(4) a {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/iron-man.jpg");
}

.gallery ul li:nth-child(5) a {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/transformers.jpg");
}

.gallery ul li:nth-child(6) a {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/lord-of-the-rings.jpg");
}

.gallery ul li:nth-child(7) a {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/skyfall.jpg");
}

.gallery ul li:nth-child(8) a {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-dark-knight.jpg");
}

.gallery ul li:nth-child(9) a {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/pirates-of-the-caribbean.jpg");
}

.gallery ul li:nth-child(10) a {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/toy-story-3.jpg");
}

/*BANNER*/

.banner {
  height: 380px;
  padding: 155px 0;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg") no-repeat center;
  background-size: cover;
}

/*FOOTER*/

.footer {
  padding: 60px 0;
}

.footer .column {
  width: 25%;
  float: left;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.footer ul li a {
  font-size: 14px;
  color: #0093FF;
  text-decoration: none;
}

.footer ul li a:hover {
  color: white;
}
